

body {
	height: 100%;
}
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

	.inside {
  width: 50%;
  height: 50%;
  color: gold;
  background:red; /** <-- For the demo **/
}

.wrapper {
	top: 0px;
	width: 100%;
	height: 100%;
	background: yellow;
}